@model proyectomvc.Models.Formulario

@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Editar Registro</h1><br>
    <form asp-controller="Formulario" asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID">
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre">
        </div><br>
        <div class="form-group">
            <label asp-for="Apellido"></label>
            <input asp-for="Apellido">
        </div><br>
        <div>
            <label asp-for="Distrito"></label>
            <input asp-for="Distrito">
        </div><br>
        <div>
            <label asp-for="Banco"></label>
            <Select asp-for="Banco">
                <option value="BCP">BCP</option>        
                <option value="Continental">Continental</option>
                <option value="Interbank">Interbank</option>
                <option value="Scotiabank">Scotiabank</option>
                <option value="BBVA">BBVA</option>
            </Select>
        </div><br>
        <div>
            <label asp-for="Edad"></label>
            <input asp-for="Edad">
        </div><br>
        <div>
            <label asp-for="Genero"></label>
            <input asp-for="Genero" type="radio" class="form-control" value="Masculino"/>
            <label for="">Masculino</label>
            <input asp-for="Genero" type="radio" class="form-control" value="Femenino"/>
            <label for="">Femenino</label>
        </div><br>
        <div>
            <label asp-for="Autor"></label>
            <input asp-for="Autor">
        </div><br>
        <input type="submit" value="Actualizar">
    </form>
    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>    

</div>
